{
  "azure": {
    "tenant": "<your tenant>.onmicrosoft.com",
    "authority": "<your tenant>.b2clogin.com",
    "clientID": "<clientID>",
    "clientsecret": "<client-secret>",
    "policySignUpSignIn": "<policy>",
    "scopes": "<appid>/.default"
  }
}
